.nav-ul {
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(70, 70, 70);
  }
  
  .nav-li {
    float: left;
  }
  
  .nav-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: solid 1px white;
  }
  
  /* Change the link color to #111 (black) on hover */
  .nav_option1:hover {
    background-color: #4caf50;
  }

  .nav_option2:hover {
    background-color: rgb(0, 255, 255);
  }

  .nav_option3:hover {
    background-color: rgb(200, 255, 255);

  }

  .nav_option4:hover {
    background-color: #1D1D1D;
  }

  .nav_option5:hover {
    background-color: rgb(225, 255, 225);
  }

